body {
    align-content: center;
    width: 100%;
}
form {
    display: inline-block;
}
.form-wrapper {
    width: auto;
    margin-left: -50%;
    margin-top: 50px;
    display: flex;
}

.center {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    border: 3px solid green;
    padding: 20px;
}
.formplace{
    margin-left: 0px;
    margin-top: 20px;
    padding-right: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
    display: flex;
}

span.a {
    display: inline; /* the default for span */
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
